@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
}

.dark {
  --background: #1e1b1b;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: 0.5s;
}
.scroll::-webkit-scrollbar{
  display: none;
}

.scroll-containor::-webkit-scrollbar{
  background-color: rgb(243, 243, 243);
  width: 4px;

}
.scroll-containor::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-containor::-webkit-scrollbar-thumb{
  background: rgb(220, 58, 238);
  border-radius: 10px;
 
}
